# Introduction

## Background

Alot has been made of climate change and it's potential effects on Uganda and in particular on agriculture, Uganda's largest GDP contributor. This study seeks to empirically quantify it's effects over the past decade or so, with use of data collected from several open source projects, as well as several government departments that keep track of climate and agricultural output figures.

## Aims of the research

**The study will primarily seek to;**
* Collect clean and properly label relevant climate change and agricultural output data
* Perform statistical analysis on said data to determine possible correlations

**Based on the results from the analysis above, the study will then seek to;**
 
* Make future agricultural output projections based on possible correlation between the data
* Make recommendations on how to meet possible agricultural output targets

## Previous reseach on the topic

Preliminary investigations revealed two previous related studies, the first carried out by so[<sup>1</sup>](#Ref1) and so [<sup>2</sup>](#Ref2). Both studies helped this project get a broader view of the topic at hand. They however contrasted with the project in pivotal ways. The former was not empirically quantitatively relevant as researchers mainly interviewed farmers to get their view of the effect of climate change on their output. While this is not an entirely inaccurate approach, it does leave a room for misinterpretation of results, and a larger problem of applying findings to broader studies.

The second study was based in the northern part of Uganda, specificaly in the Karamoja area and tracked agricultural output vis-à-vis weather and climate changes. The study at hand looks at output figures from th entire country, which is a viable sample area, given a large part of Uganda is arable.

# Body

## Data

Arguably, the most challenging part of the project was the data collection and cleanup process. The study sought to make use of secondary data that has been collected over a long period of time.
The durations used therefore largely depended on the availablity of the data. Climate and agricultural output, for instance had records dating back to 1991 which gave study much more data to work with, compared to the agricultural economic output whose records dated back only about a decade, for the data we managed to access.

However, there is a limited amount of historical climate and agricultural data and reports to work with. The fact that the project focussed on Uganda did not make this task any easier. The open source approach for the project further made this task more difficult. We did however obtain the necessary data to meet the threshold required for effective empirical analysis. We also took several steps to ensure that the data was reliable- as indicated by the sources chosen and suitable- as the analysis will show. Data sources are mentioned in the [references](#References) section.

The data was obtained via [APIs](https://en.wikipedia.org/wiki/Application_programming_interface), open data site web interfaces, and historical report file downloads. Care was taken to observe the respective licencies.

We performed the necessary editing, to eliminated blank and null values, clearly inaccurate values and values whose scope was outside the chosen time gap. Coding and classification were then carried out according to the specific attributes and parameters under investigation.

## Statistical Methods

We made use of casual analysis, ignoring other possible factors that might have caused the observed changes with the assumption that the average changes over the chosen time period would provide the necessary result to prove or disprove the hypothesis.

We studied possible correlation using the following approaches;


Charles Spearman’s coefficient of correlation[<sup>3</sup>](#Ref3);

    A technique of determining the degree of correlation between two variables in case of ordinal data where ranks are given to the different values of the variables. The main objective of this coefficient is to determine the extent to which the two sets of ranking are similar or dissimilar.

Karl Pearson’s coefficient of correlation[<sup>3</sup>](#Ref3);

    This approach assumes that; there is linear relationship between the two variables, the two variables are casually related which means that one of the variables is independent and the other one is dependent and a large number of independent causes are operating in both variables so as to produce a normal distribution. It is also the most widely used method for calculating bivariate correlations.

Kendall’s Tau coefficient[<sup>4</sup>](#Ref4);

    This approach is based on the same underlying principle as Spearman's coefficient of correlation but does not assume normality of data and therefore does not assign ranks to the data. It is used here as more of a sanity check for out results.

## Inferential Analysis and Results

### Initialising the helper libraries

In [81]:
import pandas
import matplotlib.pyplot as plt

TABLE_COLOR_MAP = 'Wistia'
KENDALL = 'kendall'
PEARSON = 'pearson'
SPEARMAN = 'spearman'

### Analysis of the correlation between agricultural product output and climate

In [82]:
CORE_DATA_PATH = "file://localhost/home/karuhanga/Documents/MUK_Cmp_Sci/Yr.2/Sm.2/Research_Methodology/Project/Extra_Resources/Data/Output/Agricultural_Output/"

def read_data(data_path):
    return pandas.read_csv(data_path, header = 0, sep = ',', names = ['Year', 'Value', 'Average Precipitation', 'Average Temperature'])

def correlation_finder(method, data):
    return data.drop(['Year'], axis = 1).corr(method = method).style.format("{:.2}").background_gradient(cmap=plt.get_cmap(TABLE_COLOR_MAP))

#### Bananas

In [83]:
# data path
data_path = CORE_DATA_PATH + "bananas_precip_temp(1991-2014).csv"

# read data
data = read_data(data_path)

In [84]:
# Pearson
correlation_finder(PEARSON, data)

In [5]:
# Kendall
correlation_finder(KENDALL, data)

In [6]:
# Spearman
correlation_finder(SPEARMAN, data)

#### Beans

In [7]:
# data path
data_path = CORE_DATA_PATH + "beans_precip_temp(1991-2014).csv"

# read data
data = read_data(data_path)

In [8]:
# Pearson
correlation_finder(PEARSON, data)

In [9]:
# Kendall
correlation_finder(KENDALL, data)

In [10]:
# Spearman
correlation_finder(SPEARMAN, data)

#### Cassava

In [11]:
# data path
data_path = CORE_DATA_PATH + "cassava_precip_temp(1991-2014).csv"

# read data
data = read_data(data_path)

In [12]:
# Pearson
correlation_finder(PEARSON, data)

In [13]:
# Kendall
correlation_finder(KENDALL, data)

In [14]:
# Spearman
correlation_finder(SPEARMAN, data)

#### Cow Peas- Dry

In [15]:
# data path
data_path = CORE_DATA_PATH + "cow_peas_precip_temp(1991-2014).csv"

# read data
data = read_data(data_path)

In [16]:
# Pearson
correlation_finder(PEARSON, data)

In [17]:
# Kendall
correlation_finder(KENDALL, data)

In [18]:
# Spearman
correlation_finder(SPEARMAN, data)

#### Peas- Dry

In [19]:
# data path
data_path = CORE_DATA_PATH + "dry_peas_precip_temp(1991-2014).csv"

# read data
data = read_data(data_path)

In [20]:
# Pearson
correlation_finder(PEARSON, data)

In [21]:
# Kendall
correlation_finder(KENDALL, data)

In [22]:
# Spearman
correlation_finder(SPEARMAN, data)

#### Groudnuts

In [23]:
# data path
data_path = CORE_DATA_PATH + "groundnuts_precip_temp(1991-2014).csv"

# read data
data = read_data(data_path)

In [24]:
# Pearson
correlation_finder(PEARSON, data)

In [25]:
# Kendall
correlation_finder(KENDALL, data)

In [26]:
# Spearman
correlation_finder(SPEARMAN, data)

#### Maize

In [27]:
# data path
data_path = CORE_DATA_PATH + "maize_precip_temp(1991-2014).csv"

# read data
data = read_data(data_path)

In [28]:
# Pearson
correlation_finder(PEARSON, data)

In [29]:
# Kendall
correlation_finder(KENDALL, data)

In [30]:
# Spearman
correlation_finder(SPEARMAN, data)

#### Millet

In [31]:
# data path
data_path = CORE_DATA_PATH + "millet_precip_temp(1991-2014).csv"

# read data
data = read_data(data_path)

In [32]:
# Pearson
correlation_finder(PEARSON, data)

In [33]:
# Kendall
correlation_finder(KENDALL, data)

In [34]:
# Spearman
correlation_finder(SPEARMAN, data)

#### Rice- Paddy

In [35]:
# data path
data_path = CORE_DATA_PATH + "paddy_rice_precip_temp(1991-2014).csv"

# read data
data = read_data(data_path)

In [36]:
# Pearson
correlation_finder(PEARSON, data)

In [37]:
# Kendall
correlation_finder(KENDALL, data)

In [38]:
# Spearman
correlation_finder(SPEARMAN, data)

#### Peas- Pigeon

In [39]:
# data path
data_path = CORE_DATA_PATH + "pigeon_peas_precip_temp(1991-2014).csv"

# read data
data = read_data(data_path)

In [40]:
# Pearson
correlation_finder(PEARSON, data)

In [41]:
# Kendall
correlation_finder(KENDALL, data)

In [42]:
# Spearman
correlation_finder(SPEARMAN, data)

#### Potatoes

In [43]:
# data path
data_path = CORE_DATA_PATH + "potatoes_precip_temp(1991-2014).csv"

# read data
data = read_data(data_path)

In [44]:
# Pearson
correlation_finder(PEARSON, data)

In [45]:
# Kendall
correlation_finder(KENDALL, data)

In [46]:
# Spearman
correlation_finder(SPEARMAN, data)

#### Sesame seed

In [47]:
# data path
data_path = CORE_DATA_PATH + "sesame_seed_precip_temp(1991-2014).csv"

# read data
data = read_data(data_path)

In [48]:
# Pearson
correlation_finder(PEARSON, data)

In [49]:
# Kendall
correlation_finder(KENDALL, data)

In [50]:
# Spearman
correlation_finder(SPEARMAN, data)

#### Sorghum

In [51]:
# data path
data_path = CORE_DATA_PATH + "sorghum_precip_temp(1991-2014).csv"

# read data
data = read_data(data_path)

In [52]:
# Pearson
correlation_finder(PEARSON, data)

In [53]:
# Kendall
correlation_finder(KENDALL, data)

In [54]:
# Spearman
correlation_finder(SPEARMAN, data)

#### Soy Beans

In [55]:
# data path
data_path = CORE_DATA_PATH + "soy_beans_precip_temp(1991-2014).csv"

# read data
data = read_data(data_path)

In [56]:
# Pearson
correlation_finder(PEARSON, data)

In [57]:
# Kendall
correlation_finder(KENDALL, data)

In [58]:
# Spearman
correlation_finder(SPEARMAN, data)

#### Wheat

In [59]:
# data path
data_path = CORE_DATA_PATH + "wheat_precip_temp(1991-2014).csv"

# read data
data = read_data(data_path)

In [60]:
# Pearson
correlation_finder(PEARSON, data)

In [61]:
# Kendall
correlation_finder(KENDALL, data)

In [62]:
# Spearman
correlation_finder(SPEARMAN, data)

#### Sunflower seed

In [63]:
# data path
data_path = CORE_DATA_PATH + "sunflower_seed_precip_temp(1991-2014).csv"

# read data
data = read_data(data_path)

In [64]:
# Pearson
correlation_finder(PEARSON, data)

In [65]:
# Kendall
correlation_finder(KENDALL, data)

In [66]:
# Spearman
correlation_finder(SPEARMAN, data)

#### Sweet Potatoes

In [67]:
# data path
data_path = CORE_DATA_PATH + "sweet_potatoes_precip_temp(1991-2014).csv"

# read data
data = read_data(data_path)

In [68]:
# Pearson
correlation_finder(PEARSON, data)

In [69]:
# Kendall
correlation_finder(KENDALL, data)

In [70]:
# Spearman
correlation_finder(SPEARMAN, data)

### Analysis of the correlation between agricultural economic output and climate

In [71]:
CORE_DATA_PATH = "file://localhost/home/karuhanga/Documents/MUK_Cmp_Sci/Yr.2/Sm.2/Research_Methodology/Project/Extra_Resources/Data/Output/Agricultural_Economic_Output/"

#### Analysis of food and crop economic output

In [72]:
# data path
data_path = CORE_DATA_PATH + "food_output_precip_temp(2006-2014).csv"

# read data
econ_output_data = read_data(data_path)

In [73]:
# Pearson
correlation_finder(PEARSON, econ_output_data)

In [74]:
# Kendall
correlation_finder(KENDALL, econ_output_data)

In [75]:
# Spearman
correlation_finder(SPEARMAN, econ_output_data)

#### Analysis of food and crop economic output

In [76]:
# data path
data_path = CORE_DATA_PATH + "cattle_export_precip_temp(2004-2013).csv"

# read data
econ_output_data = read_data(data_path)

In [77]:
# Pearson
correlation_finder(PEARSON, econ_output_data)

In [78]:
# Kendall
correlation_finder(KENDALL, econ_output_data)

In [79]:
# Spearman
correlation_finder(SPEARMAN, econ_output_data)

# Conclusion and Discussion



# Appendix

## References

**Previous Studies**
* <a name="Ref1"><sup>[1]</sup></a> The Climate and Development Knowledge Network (CDKN): https://cdkn.org/project/economic-assessment-of-the-impacts-of-climate-change-in-uganda/?loclang=en_gb

 
* <a name="Ref2"><sup>[2]</sup></a> Relief Web International: https://reliefweb.int/report/uganda/impacts-climate-change-food-security-and-livelihoods-karamoja

 
**Statistical Methods**
* <a name="Ref3"><sup>[3]</sup></a> Research Methodology- Methods and Techniques, 2ed- 2004, C.R. Kothari, ISBN(13): 978-81-224-2488-1

 
* <a name="Ref4"><sup>[4]</sup></a> Kendall's Rank Correlation Coefficient: https://www.statisticssolutions.com/kendalls-tau-and-spearmans-rank-correlation-coefficient/

 
* <a name="Ref5"><sup>[5]</sup></a> Data Correlation Primer http://benalexkeen.com/correlation-in-python/

 
* <a name="Ref6"><sup>[6]</sup></a> Data Correlation Primer https://www.datascience.com/learn-data-science/fundamentals/introduction-to-correlation-python-data-science

 
**Data Sources**

* <a name="Ref7"><sup>[7]</sup></a> Country Stat Uganda http://countrystat.org/home.aspx?c=UGA&ta=226CPD010&tr=7

 
* <a name="Ref7"><sup>[8]</sup></a> Data.ug http://data.ug

 
* <a name="Ref7"><sup>[9]</sup></a> Uganda Bureau of Statistics https://ubos.org

 
* <a name="Ref7"><sup>[10]</sup></a> The World Bank http://sdwebx.worldbank.org/climateportal/index.cfm?page=downscaled_data_download&menu=historical